{% ckan_extends %}

{% block basic_fields %}
    {{ super() }}

    {{ form.textarea('mapping', label=_('Mapping'), id='field-mapping', placeholder=_('{}'), value=data.mapping, error=errors.mapping, classes=['control-medium']) }}

    <div id="dataset-buttons" class='controls control-group'>
      <a id="dataset-delete" class="btn btn-danger" href="/dataset/{{data.package_id}}/reset_data/{{data.id}}">Reset</a>
    </div>

    {{ form.textarea('permissions', label=_('Permisions'), id='field-permissions', placeholder=_('{}'), value=data.permissions, error=errors.permissions, classes=['control-medium']) }}
{% endblock %}
