{% extends "package/resource_edit_base.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _('Edit permissions') }} - {{ h.resource_display_name(res) }} - {{ h.dataset_display_name(pkg) }}{% endblock %}

{% block primary_content_inner %}

  {% resource 'welive/permissions.css' %}
  {% resource 'welive/permissions.js' %}

  <div data-module="welive" pkg-id="{{c.pkg_dict.name}}" resource-id="{{c.resource.id}}">
    <form id="permissions-edit-form" class="dataset-form dataset-resource-form form-horizontal"
      method="post" action="{{ h.url_for(controller='ckanext.welive.controller:WeLiveController', action='edit_permissions', id=c.pkg_dict.name, resource_id=c.resource.id) }}"
      enctype="multipart/form-data">
      <div id="select-permissions" class='control-group'>
        <h3>SELECT</h3>
        <div id="select-tables"></div>
        <div id="select-add-table" class="btn btn-primary">+</div>
      </div>

      <div id="delete-permissions" class='control-group'>
        <h3>DELETE</h3>
        <div id="delete-tables"></div>
        <div id="delete-add-table" class="btn btn-primary">+</div>
      </div>

      <div id="insert-permissions" class='control-group'>
        <h3>INSERT</h3>
        <div id="insert-tables"></div>
        <div id="insert-add-table" class="btn btn-primary">+</div>
      </div>

      <div id="update-permissions" class='control-group'>
        <h3>UPDATE</h3>
        <div id="update-tables"></div>
        <div id="update-add-table" class="btn btn-primary">+</div>
      </div>

      <input id="permissions" name="permissions" type="hidden" value="{{c.resource.permissions}}">
      <input id="user_list" name="user_list" type="hidden" value="{{c.user_data}}">
      <input id="welive_api" name="welive_api" type="hidden" value="{{c.welive_api}}">

      <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Save" />
      </div>
    </form>
  </div>

{% endblock %}
