{% ckan_extends %}

{% block content_primary_nav %}
  {{ super() }}
  <li><a href="{{ h.url_for(controller='ckanext.welive.controller:WeLiveController', action='edit_permissions', id=pkg.name, resource_id=res.id) }}"><i class="icon-edit"></i>Edit permissions</a></li>
{% endblock %}
